@model MusicStore.Domain.Entities.Songs
@using MusicStore.Domain.Entities;

@{
    ViewBag.Title = Model.Name;
}
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet"
          type="text/css" />
</head>


@{ string value = "";
    string rid = "";
    if (Request.Cookies["fatcookie"] != null)
    {
        string r = Request.Cookies["fatcookie"]["RID"];
        rid = r;
        string value2 = Request.Cookies["fatcookie"]["username"];
        value = value2;

    }
}



<h2>@Model.Name</h2>

<p>

    @if (Model.ImageData != null)
    {
        <img alt="@Model.Name" width="100" height="100" src="@Url.Action("GetImage", "Music", new { Id = Model.ID })" />
    }
    else
    {

        <img alt="@Model.Name" src="/Content/placeholder.gif" />
    }

</p>

<div id="album-details">

    <em>Artist:</em>
    @Model.Author
    </p>
    <p>
        <em>Price:</em>
        @String.Format("{0:F}", Model.Price)
    </p>
    <p class="button">
        @{
            if (value == "")
            {
              <a href="/">Add to cart</a>
            }
            else
            {
                @Html.ActionLink("Add to cart", "AddToCart", "Cart", new { ID = Model.ID }, null)
            }
        }
       


    </p>
</div>

