@model MusicStore.Domain.Entities.Genres
@using MusicStore.Domain.Entities
@{
    ViewBag.Title = "Create Genre";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="panel">
    <div class="panel-heading">

    </div>
    @using (Html.BeginForm("SaveGenre", "Admin",
     FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ID)


            @*@foreach (var property in ViewData.ModelMetadata.Properties)
        {
            switch (property.PropertyName)
            {
                case "ID":
                    break;
                default:


                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>

                        @Html.TextBox(property.PropertyName, null,
                   new { @class = "form-control" })

                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                    break;


            }


        }*@
            <div class="form-group">
                <label>Name</label>

                @Html.TextBoxFor(m => m.Name, null,
           new { @class = "form-control" })
            </div>
            <div class="panel-footer">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel and return to List", "ListGenres", null, new
                {
                @class = "btn btn-default"
                })
            </div>
        </div>
    }
</div >